@media screen and (min-width: 768px) {
    #gridContainer {
        grid-template-columns: repeat(auto-fit, 450px);
    }

    .blogIMG {
        width: 300px;
        height: 300px;
        border-radius: 200px;
    }
}

@media screen and (max-width: 769px) {
    #gridContainer {
        grid-template-columns: repeat(auto-fit, 250px);
    }
    .blogIMG {
        border-radius: 120px;
    }
}

#gridContainer {
    display: grid;
    justify-content: center;
}

h4 {
    text-align: center;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}

.blog {
    text-decoration: overline;
    color: lightgray;
}

.blogIMG {
    padding: 20px;
}

#blog {
    text-decoration: underline;
}

/* User hovers over grid item, increase size by 120% */
.gridItem:hover {
    transform: scale(1.2);
    text-decoration: underline;
    color: lightgray;
    transition: transform 0.2s;
}

.gridItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
