/* When viewed on smaller screens content is pushed into column for desired visibility */
@media screen and (max-width: 600px) {
    .bodyContainer {
        flex-direction: column;
    }
    .intro {
        padding-bottom: 50px;
    }
}

.bodyContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.quoteContainer {
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-top-color: lightgray;
    border-top-style: outset;
    border-top-width: 1px;
    border-bottom-color: lightgray;
    margin-top: 104px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profilePic {
    border-radius: 50%;
}

.intro {
    margin-top: 10px
}
