@font-face {
    font-family: 'Fire Code-Light';
    src: url('../fonts/FiraCode-Light.ttf');
}

/* For smaller screens some padding has been left on the edges to look
    neat. Width is required as postion: fixed is used on the navigation container */
@media screen and (max-width: 768px) {
    .navigationContainer {
        width: 85%;
    }
}

/* For larger screens extra padding has been created on the edges to look
    neat. Width is required as postion: fixed is used on the navigation container */
@media screen and (min-width: 768px) {
    .navigationContainer {
        width: 65%;
    }
    /* On wider screens there is a lot of unused space, gutters placed on sides for desirable visibility */
    .container {
        margin-left: 15%;
        margin-right: 15%;
        padding-top: 40px;
    }
}

/* On mobile the navigation links are hidden and replaced with hamburger menu */
@media screen and (max-width: 450px) {
    .menuLinks {
        display: none;
    }
    #hamburger-menu {
        display: inline;
    }
}

/* On larger devices the hamburger menu is hidden and replaced with navigation links */
@media screen and (min-width: 450px) {
    #hamburger-menu {
        display: none;
    }
}

html {
    background: rgb(30, 30, 40);
}

body {
    background: rgb(30, 30, 40);
}

/* Main body, everything should have padding inside this to look neat */
.container {
    padding-left: 16px;
    padding-right: 16px;
    background: linear-gradient(to right, #fc766aff 0%, #5b84b1ff 100%);
    -webkit-background-clip: text;
}

/* The main header with container navigation links and logo, this gets fixed along the top */
.navigationContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: right;
    height: 50px;
    position: fixed;
    top: 0;
    margin-top: 5%;
}

.logo {
    transition: 0.2s;
    cursor: pointer;
}

p {
    font-family: 'Fire Code-Light';
    text-align: center;
}

a {
    font-family: 'Fire Code-Light';
    color: #5b84b1ff;
    font-size: 18px;
    transition: transform 0.2s;
    display: inline-block;
    margin-left: 4px;
    text-decoration: none;
    font-weight: bold;
    font-variant: small-caps;
}

.menuLinks a:hover {
    transform: scale(1.2);
    text-decoration: underline;
    color: lightgray;
}

.logo:hover {
    transform: scale(1.2);
    filter: brightness(10);
}

.socialMediaLogos:hover {
    transform: scale(1.4);
}

#hamburger-menu:hover {
    cursor: pointer;
}
/* Imitates a click animation on click */
#hamburger-menu:active {
    background: rgb(30, 30, 40);
}

.socialMediaLogos {
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.2s;
    cursor: pointer;
    width: 15px;
    height: 15px;
    filter: brightness(100);
}

h2 {
    font-family: 'Fire Code-Light';
    color: lightgray;
    padding-top: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: underline;
}
/* Fixed to bottom of homepage for accesibility */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#navArrow {
    cursor: e-resize;
}

#navArrow:hover {
    color: lightgray;
}

p {
    background: linear-gradient(to right, #fc766aff 0%, #5b84b1ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* This creates an opacity over the entire screen when the menu links are shown on mobile */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

#main-menu a:hover {
    text-decoration: underline;
}

/* Hamburger menu is usually not displayed, only appears on mobile */
#hamburger-input {
    display: none;
}

/* Hamburger menu which is only shown on mobile */
#hamburger-menu {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(
        to bottom,
        #5b84b1ff,
        #fc766aff 20%,
        rgb(30, 30, 40) 20%,
        rgb(30, 30, 40) 40%,
        #5b84b1ff 40%,
        #fc766aff 60%,
        rgb(30, 30, 40) 60%,
        rgb(30, 30, 40) 80%,
        #5b84b1ff 80%,
        #fc766aff 100%
    );
}

/* This menu pops out after clicking the hamburger menu, its styled with postion: fixed and right:-250 which mvoes it off screen until the click */
#hamburger-menu #sidebar-menu {
    opacity: 100%;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: -250px;
    width: 130px;
    height: 100%;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
    padding-top: 20px;
}

#hamburger-menu ul {
    padding-left: 0px;
}

#hamburger-menu li {
    list-style-type: none;
    line-height: 28px;
}

#hamburger-menu a {
    font-size: 22px;
    text-decoration: none;
}

#hamburger-menu a:hover {
    text-decoration: underline;
}

/* Once input is clicked, this will show the side menu and transition it into the correct position */
#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    right: 0;
}
/* Creates an overlay for the screen when side menu is visible */
#hamburger-input:checked ~ .overlay {
    visibility: visible;
    opacity: 0.7;
}
