/* Smaller devices will automatically show the dropdown content */
@media screen and (max-width: 750px) {
    .dropdown-content {
        display: flex;
        flex-direction: column;
    }
}

/* Hides content to only be shown on hover on larger devices */
@media screen and (min-width: 750px) {
    .dropdown-content {
        display: none;
    }
}

h1 {
    text-align: center;
    font-family: 'Fire Code-Light';
    font-size: 22px;
}

#sectionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

/* Hidden drop-down box that reveals on hover */
.dropdown-content {
    justify-content: space-between;
    align-items: center;
    transition: 5s;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown h1 {
    color: #5b84b1ff;
    text-decoration: none;
}

.dropdown p {
    color: #5b84b1ff;
    font-size: 18px;
}

.dropdown h1:active {
    color: lightgray;
    text-decoration: underline;
}

.work {
    text-decoration: overline;
    color: lightgray;
}
