/* #blog {
    text-decoration: underline;
} */

h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: underline;
    /* cursor: pointer; */
}

/* h4:hover {
    transform: scale(1.2);
    text-decoration: underline;
    color: #e26868;
} */

#imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog2IMG {
    border-radius: 20px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    height: 100%;
}
