#blog {
    text-decoration: underline;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: #d95656;
}

h4 {
    text-align: center;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}

h4:hover {
    transform: scale(1);
    text-decoration: underline;
    /* color: #e26868; */
}

.blogIMG {
    border-radius: 20px;
}

#gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
}

.gridItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.blog {
    text-decoration: overline;
    color: #d95656
}