#blog {
    text-decoration: underline;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: #5B84B1FF;
}

h4 {
    text-align: center;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}

h4:hover {
    transform: scale(1);
    text-decoration: underline;
    color:#5B84B1FF;
}

.blogIMG {
    border-radius: 20px;
    
}

#gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
}

.gridItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.blog {
    text-decoration: overline;
    color: azure;
}
