/* #blog {
    text-decoration: underline;
} */

h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: underline;    
}

#imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog3IMG {
    border-radius: 20px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
