
/* h1 {
    text-align: center;
    text-decoration: underline;
} */

h4 {
    text-align: center;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    font-size: 28px;
}


.blog {
    text-decoration: overline;
    color: lightgray;
}

.blogIMG {
    padding: 20px;
    border-radius: 120px;
    
}
#blog {
    text-decoration: underline;
}

/* displayed grid to fit blogs evenly */
#gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
}

.gridItem:hover {
    transform: scale(1.2);
    text-decoration: underline;
    color:lightgray;
    transition: transform 0.2s;
}

.gridItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

