

/*  comment box */
.feedback-input {
  color:white;
  font-family: 'Fire Code-Light';
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #5B84B1FF;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

/* increased comment box size */
textarea {
  height: 150px;
  line-height: 150%;
  resize:none;
}

[type="submit"] {
  font-family: 'Fire Code-Light';
  width: 100%;
  background: darkgrey;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

/* hover change bakground color */
[type="submit"]:hover 
  { background:#FBFAF5be; }

h1 {
  text-decoration: underline;
  text-align: center;
}

.contact {
  text-decoration: overline;
  color: lightgray;
}