.bodyContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quoteContainer {
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-top-color: azure;
    border-top-style: outset;
    border-top-width: 1px;
    border-bottom-color: azure;
    margin-top: 114px;
    margin-bottom: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .bodyContainer {
        flex-direction: column;
    }
        .intro {
            padding-top: 16px;
        }
        
    }
    
.profilePic {
    border-radius: 50%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

.box {
  
}

.home {
    text-decoration: overline;
    color: #d95656;
}
