.bodyContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quoteContainer {
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-top-color: azure;
    border-top-style: outset;
    border-top-width: 1px;
    border-bottom-color: azure;
    margin-top: 64px;
    margin-bottom: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 10%; */
}

.profilePic {
    border-radius: 50%;
    /* padding-left: 5%; */
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

.box {
  
}

.home {
    text-decoration: overline;
    color: #d95656;
}
