
@font-face {
    font-family: 'Nexa Regular';
    src: url('./fonts/NexaRegular.otf');
}

html {
    height: 100%;
    background:rgb(30,30,40);
    /* background-image: url("../images/background-image.jpg");
    background-size:cover; */
}

body {
    height: 100%;
    background:rgb(30,30,40)
}

.container {
    background: #f0ebe3;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
}

.navigationContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: right;
    height: 50px;
    position: fixed;
    top: 0;
    width: 65%;
    margin-top: 1%;
    
  }

.logo {
    padding-top: 20px;
    transition: 0.2s;
    cursor: pointer;
}


p {
    font-family: 'Nexa Regular';
    color: grey;
    text-align: center;
    
}

a {
    font-family: 'Nexa Regular';
    color: #e26868;
    font-size: 16px;
    transition: transform 0.2s;
    display: inline-block;
    margin-left: 4px;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    transform: scale(1.2);
    text-decoration: underline;
    color: black;
    
}

.logo:hover {
    transform: scale(1.);
}

.socialMediaLogos:hover {
    transform: scale(1.);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

.socialMediaLogos {
    margin-left: 12px;
    margin-right: 12px;
    transition: 0.2s;
    cursor:pointer;
    width: 50px;
    height: 50px;
}

h1 {
    color: #e26868;
}

h2 {
    color: #e26868;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color:rgb(30,30,40) */
    text-align: center;
  }

