@font-face {
    /* font-family: 'Nexa Regular';
    src: url('./fonts/NexaRegular.otf'); */
    font-family: 'Fire Code-Light';
    src: url('../fonts/FiraCode-Light.ttf');
}

html {
    height: 100%;
    background: rgb(30, 30, 40);
    /* background-image: url("../images/background-image.jpg");
    background-size:cover; */
    /* font-family: "Lucida Console", "Courier New", monospace; */
}

body {
    min-height: 100%;
    background: rgb(30, 30, 40);
}

.container {
    background: #ece5da;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    height: 100vh;
}

.navigationContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: right;
    height: 50px;
    position: fixed;
    top: 0;
    width: 65%;
    margin-top: 1%;
}

.logo {
    /* padding-top: 20px; */
    transition: 0.2s;
    cursor: pointer;
}

p {
    font-family: 'Fire Code-Light';
    color: grey;
    text-align: center;
}

a {
    font-family: 'Fire Code-Light';
    color: #07bebe;
    font-size: 16px;
    transition: transform 0.2s;
    display: inline-block;
    margin-left: 4px;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    transform: scale(1.2);
    text-decoration:underline;
    color: black;
}

.logo:hover {
    transform: scale(1);
}

.socialMediaLogos:hover {
    transform: scale(1);
}



.socialMediaLogos {
    margin-left: 12px;
    margin-right: 12px;
    transition: 0.2s;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

h1 {
    font-family: 'Fire Code-Light';
    color: #07bebe;
}

h2 {
    font-family: 'Fire Code-Light';
    color: #07bebe;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color:rgb(30,30,40) */
    text-align: center;
}

button {
    margin-top: 5px;
}

#navArrow {
    cursor: e-resize;

}
