@font-face {
    font-family: 'Fire Code-Light';
    src: url('../fonts/FiraCode-Light.ttf');
}

@media screen and (max-width: 768px) {
    .navigationContainer {
        display: flex;
        width: 85%;
    }
}

@media screen and (min-width: 768px) {
    .navigationContainer {
        display: flex;
        width: 65%;
    }
    .container {
        margin-left: 15%;
        margin-right: 15%;
        padding-top: 20px;
    }
}

html {
    background: rgb(30, 30, 40);
}

body {
    background: rgb(30, 30, 40);
}

.container {
    padding-left: 16px;
    padding-right: 16px;
    background: linear-gradient(to right, #fc766aff 0%, #5b84b1ff 100%);
    -webkit-background-clip: text;
}

.navigationContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: right;
    height: 50px;
    position: fixed;
    top: 0;
    margin-top: 5%;
}

.logo {
    transition: 0.2s;
    cursor: pointer;
}

p {
    font-family: 'Fire Code-Light';
    text-align: center;
}

a {
    font-family: 'Fire Code-Light';
    color: #5b84b1ff;
    font-size: 18px;
    transition: transform 0.2s;
    display: inline-block;
    margin-left: 4px;
    text-decoration: none;
    font-weight: bold;
    font-variant: small-caps;
}

.menuLinks a:hover {
    transform: scale(1.2);
    text-decoration: underline;
    color: lightgray;
}

.logo:hover {
    transform: scale(1.2);
    filter: brightness(10);
}

.socialMediaLogos:hover {
    transform: scale(1.4);
}

#hamburger-menu:hover {
    cursor: pointer;
}

#hamburger-menu:active {
    background: black;
}

.socialMediaLogos {
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.2s;
    cursor: pointer;
    width: 15px;
    height: 15px;
    filter: brightness(100);
}

h1 {
    font-family: 'Fire Code-Light';
    color: slategray;
    font-size: 22px;
    padding-top: 40px;
}

h2 {
    font-family: 'Fire Code-Light';
    color: lightgray;
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: underline;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#navArrow {
    cursor: e-resize;
}

#navArrow:hover {
    color: lightgray;
}

nav a {
    color: #5b84b1ff;
}

p {
    background: linear-gradient(to right, #fc766aff 0%, #5b84b1ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}
/* 
#main-menu {
    display: block;
    height: 100px;
    width: 100%;
    margin: 0px;
    z-index: 9;
} */
/* 
#main-menu ul {
    max-width: 800px;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 9;
} */

#main-menu a:hover {
    text-decoration: underline;
}

#hamburger-input {
    display: none;
}

#hamburger-menu {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(
        to bottom,
        #5b84b1ff,
        #fc766aff 20%,
        rgb(30, 30, 40) 20%,
        rgb(30, 30, 40) 40%,
        #5b84b1ff 40%,
        #fc766aff 60%,
        rgb(30, 30, 40) 60%,
        rgb(30, 30, 40) 80%,
        #5b84b1ff 80%,
        #fc766aff 100%
    );
}

#hamburger-menu #sidebar-menu {
    opacity: 100%;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: -250px;
    width: 130px;
    height: 100%;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
    padding-top: 20px;
}

/* #hamburger-menu h3 {
    color: lightgray;
    font-size: 2.2rem;
} */

#hamburger-menu ul {
    padding-left: 0px;
}

#hamburger-menu li {
    list-style-type: none;
    line-height: 1.8rem;
}

#hamburger-menu a {
    /* color: #5b84b1ff; */
    font-size: 1.4rem;
    text-decoration: none;
}

#hamburger-menu a:hover {
    text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    right: 0;
}
#hamburger-input:checked ~ .overlay {
    visibility: visible;
    opacity: 0.7;
}

@media screen and (max-width: 750px) {
    #main-menu {
        display: none;
    }
    #hamburger-menu {
        display: inline;
    }
}

@media screen and (min-width: 450px) {
    #main-menu {
        display: none;
    }
    #hamburger-menu {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .menuLinks {
        display: none;
    }
}
