h1 {
    text-align: center;
    text-decoration: underline;
    padding: 0;
    /* padding-bottom: 50px; */
}

#sectionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 20px; */
    flex-direction: column;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown {
    position: relative;
    display: inline-block;
    /* margin: 40px; */
}

.dropdown-content {
    display: none;
    /* position: absolute; */
    top: 60px;
    left: 40px;
    padding-right: 20px;
    transition: 5s;
}

.dropdown h1 {
    /* margin-bottom: 120px; */
    color: #5b84b1ff;
    text-decoration: none;
    padding-right: 20px;
}

.dropdown h1:hover {
    color: lightgray;
}

.work {
    text-decoration: underline;
    color: lightgray;
    /* margin: 26.5; */
}
